.blog-detail-container {
  width: 70%;
  margin: 40px auto;
  padding-bottom: 80px;
}

.blog-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 25px;
}

.blog-detail-image {
  width: 100%;
  border-radius: 14px;
  margin-bottom: 25px;
}

.blog-meta {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  font-size: 15px;
  color: #555;
}

.blog-category {
  color: #d9534f;
  font-weight: 600;
}

.blog-content {
  font-size: 18px;
  line-height: 1.7;
  color: #444;
}

.blog-content h2 {
  margin-top: 30px;
  font-size: 22px;
  font-weight: 600;
}

.blog-content ul {
  margin-left: 20px;
  margin-bottom: 20px;
}
