.events-page-container {
  max-width: 1400px;
  margin: 40px auto;
  padding: 10px;
}

/* IMAGE SECTION */
.events-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  margin-bottom: 50px;
}

.event-card {
  cursor: pointer;
  text-align: center;
  border-radius: 8px;
  transition: all 0.3s ease;
  padding-bottom: 12px;
  background: var(--brand-gold-footer);
}

.event-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.event-img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  border-radius: 8px;
}

.event-heading {
  margin-top: 12px;
  margin: 35px 0 50px;
  font-size: 25px;
  color: var(--brand-light);
}
.eventsection-heading {
  text-align: center;
  font-family: "Georgia", serif;
  font-size: 20px;
  color: var(--brand-light);
  margin-bottom: 14px;
  margin-top: 20px;
  padding-left: 200px;
  padding-right: 200px;
}
.readonly-field {
  padding: 10px;
  border: 1px solid #c9c9c9;
  border-radius: 4px;
  background-color: #f5f5f5;
  font-size: 15px;
  color: #555;
}

/* SELECTED HEADING */
.selected-heading {
  text-align: start;
  margin: 35px 0 50px;
  font-size: 25px;
  color: #7b4b00;
}

/* FORM SECTION */
.event-form {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.event-form label {
  font-size: 15px;
  font-weight: 600;
}

.event-form input,
.event-form textarea,
.event-form select {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #c9c9c9;
  font-size: 15px;
}

.phone-row {
  display: flex;
  gap: 10px;
}

.phone-row select {
  width: 25%;
}

.phone-row input {
  width: 75%;
}

.submit-btn {
  background-color: #b7832f;
  padding: 12px;
  color: #fff;
  border: none;
  font-size: 16px;
  border-radius: 4px;
  margin-top: 10px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #9c6925;
}

.form-row {
  margin: 8px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
