.offers-section {
    width: 100%;
    padding: 60px 40px;
    background: #fff;
    display: flex;
    justify-content: center;
}

.offers-grid {
    width: 100%;
    max-width: 1500px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}
/* CARD */
.offers-heading {
    font-size: 36px;
    font-weight: 200;
    text-align: center;
    margin-top: 50px;
    color: #373322;
    font-family: Georgia, serif;
}
/* CARD */
.offer-card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 18px 40px rgba(0, 0, 0, 0.12);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* IMAGE */
.offer-img {
    width: 100%;
    height: 420px;
    object-fit: cover;
}

/* CONTENT */
.offer-content {
    background: #fff;
    padding: 32px 26px;
}

.offer-title {
    font-size: 22px;
    font-weight: 600;
    font-family: Georgia, serif;
    margin-bottom: 12px;
    color: #373322;
}

.offer-desc {
    font-size: 15px;
    color: #555;
    margin-bottom: 20px;
    line-height: 1.6;
}

.offer-validity {
    font-size: 15px;
    margin-bottom: 30px;
}

/* BUTTONS */
.offer-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.offer-btn {
    background: #b58742;
    color: #fff;
    border: none;
    padding: 12px 26px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 4px;
    letter-spacing: 1px;
    cursor: pointer;
}

.offer-btn:hover {
    background: #926c34;
}

/* KNOW MORE */
.offer-more {
    background: none;
    border: none;
    color: #b58742;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
}

.offer-more span {
    padding-left: 4px;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .offers-grid {
        grid-template-columns: 1fr;
    }

    .offer-img {
        height: 300px;
    }
}