.footer-wrapper {
    width: 100%;
    background: #f7f7f7;
    padding: 0;
    margin: 0;
}

/* Override .container ONLY for footer */
.footer-wrapper .container {
    max-width: 100% !important;
    padding-left: 60px;
    padding-right: 60px;
}

/* --- TOP SECTION --- */
.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 30px;
  border-bottom: 1px solid #ddd;
}

.footer-left {
  width: 33%;
}

.footer-logo {
  width: 180px;
  margin-bottom: 20px;
}

.footer-address h4 {
  font-weight: 700;
  margin-bottom: 4px;
}

.footer-address p {
  margin: 6px 0;
  line-height: 1.4;
}

.footer-socials {
  display: flex;
  gap: 18px;
  font-size: 20px;
  margin-top: 14px;
}

.footer-middle {
  width: 33%;
  text-align: center;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: 12px;
}

.footer-social-large {
  display: flex;
  justify-content: center;
  gap: 18px;
  font-size: 28px;
}

.footer-right {
  width: 33%;
  text-align: center;
}

.footer-subscribe {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer-subscribe input {
  width: 260px;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.footer-subscribe button {
  padding: 12px 20px;
  background: #b88644;
  color: white;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.footer-subscribe button:hover {
  background: #a15b00;
}

/* --- CITIES --- */
.footer-cities {
  margin: 30px auto;
  text-align: left;
  line-height: 2;
  font-size: 18px;
  color: #ffffff;
}

.footer-city {
  margin: 0 4px;
}

/* --- LINKS MENU --- */
.footer-links {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  gap: 18px;
  margin-top: 20px;
  font-size: 15px;
}

.footer-links a {
  color: #ffffff;
  text-decoration: none;
}

.footer-links a:hover {
  color: #b88644;
}

/* --- BOTTOM --- */
.footer-bottom {
  text-align: center;
  margin: 18px 0;
  color: #777;
}

.footer-bottom a {
  color: #444;
  text-decoration: none;
}

.footer-bottom a:hover {
  color: #b88644;
}

/* --- COOKIE BAR --- */
.cookie-bar {
  width: 100%;
  padding: 12px 20px;
  background: #ffffff;
  color: #222;
  display:flex;
  justify-content: center;
  gap: 12px;
  align-items: center;
}

.cookie-bar button {
    background: #cfa349;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
}

.cookie-bar button:hover {
  background: #9c6d30;
}

/* Responsive */
@media (max-width: 1800px) {
  .footer-top {
    flex-direction: column;
    text-align: center;
  }
  .footer-left,
  .footer-middle,
  .footer-right {
    width: 100%;
    margin-bottom: 25px;
  }
}
